.scroll-icon { 
    text-align: center; 
    color: #ffffff;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: .9em;
    letter-spacing: 5px;
    margin-top: 50px;
    i { 
        display: block;
    }
}

#landing-bg { 
    background-image: url("../img/bg-image-1.jpg");
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
}

.bg-overlay { 
    background-color: rgba(25, 25, 25, 0.9);
    position: absolute;
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
}

//SVG Stroke Test
.svg-wrapper {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
	  margin: 0 auto;
  width: 320px;  
}
.shape {
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  fill: transparent;
  stroke: #19f6e8;
  border-bottom: 5px solid black;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}
.text {
  font-family: 'Roboto Condensed';
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 8px;
  color: #fff;
  top: -48px;
  position: relative;
  text-align: center;
}
.svg-wrapper:hover .shape {
  stroke-width: 2px;
  stroke-dashoffset: 0;
  stroke-dasharray: 760;
}