
#landing-bg { 
    background-image: url("../img/bg-image-1.jpg");
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
}

.bg-overlay { 
    background-color: rgba(25, 25, 25, 0.9);
    position: absolute;
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
}

.kanji { 
    height: 50px;
    margin: 0 auto;
    padding: 6px;
    display: block;
    text-align: center;
}