#video-bg {
    position: relative;
    width: auto;
    min-width: 100%;
    height: auto;
    min-height: 100%;
    overflow: hidden;
    z-index: -100;
    background-size: cover;
}

.stageBg {
    background-color: cadetblue;
}